/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navigation {
	width: 100%;
	height: 50px;
	margin-top: 0px;
	background: #9be114;
}
.button{
	background: #9be114;
	width: auto;
	height: auto;
	line-height: 1.0em;
	padding:0em 0.2em 0em 0.2em;
	display: inline-block;
}
.logo {
	background-image: url(../images/logo.jpg);
	width: 50px;
	height: 0%;
	padding-bottom: 50px;

	background-size: cover;
}
body {
	background: #14aae1;
}

a:link {
	text-decoration: none;
	color: black;

}
a:visited {
	text-decoration: none;
	color: black;

}
a:hover {
	background: none;
	color: grey;
}
.container {
	text-align: center;
	font-family: Helvetica;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background: #1f79d6;
	border-radius: 15px;
}